<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.myweb.launcher">

    <permission
        android:name="io.myweb.server.permission.REQUEST"
        android:label="myweb.io module permission"
        android:protectionLevel="normal" />

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">
    </application>

</manifest>
