#* @vtlvariable name="assetFiles" type="java.util.List<io.myweb.processor.model.AssetFile>" *#
package io.myweb;

import java.util.Collections;
import java.util.HashMap;
import java.util.Map;

public class MyAssetInfo implements AssetLengthInfo {
	private final Map<String, Long> assetInfo;

	public MyAssetInfo() {
		HashMap<String, Long> info = new HashMap<String, Long>();
#foreach( $af in $assetFiles )
		info.put("$af.name",${af.length}L);
#end
		assetInfo = Collections.unmodifiableMap(info);
	}

	@Override
	public Long getAssetLength(String name) {
		return assetInfo.get(name);
	}
}
