#* @vtlvariable name="endpoints" type="java.util.List<java.lang.String>" *#
package io.myweb;

import android.content.Context;

import io.myweb.Endpoint;

import java.util.LinkedList;
import java.util.List;

public class EndpointContainer {

    public static List<? extends Endpoint> instantiateEndpoints(Context ctx) {
        List<Endpoint> endpoints = new LinkedList<Endpoint>();
        endpoints.add(new io.myweb.AppInfoEndpoint(ctx));
        endpoints.add(new io.myweb.AssetEndpoint(ctx));
#foreach( $m in $endpoints )
        endpoints.add(new $m(ctx));
#end
        return endpoints;
    }

}
